*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    margin: 0px auto 0px;
    padding: 0px;
    
    background: linear-gradient(109.57deg, #068787 , #99F3EE );
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px 0px 10px 10px;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}


  .homemed {
    position: absolute;
    /*width: 259px; */
    height: 0px;
    top: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: normal;
  
  
   /* display: flex; */
    margin: 10px 482.4px 0px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.3em;
  
    color: #FFFFFF;
  }


.nav-items{
    display: flex;
    align-items: center;
}

.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}  